.App {
  font-family: sans-serif;
  text-align: center;
}

.pond-bg {
  position: relative;
  top: 61px;
  height: 2px;
  width: 100%;
  background: rgb(175, 175, 175);
  z-index: -1;
}

.raft {
  background: rgb(255, 255, 255);
}

.moveRight {
  animation-name: moveRight;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.moveRight:nth-child(1) {
  /* animation-name: fadeIn; */
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(0%);
  }
  to {
    opacity: 100%;
    transform: translateX(100%);
  }
}

@keyframes moveRight {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(100%);
  }
}

.timer {
  background: rgb(82, 82, 82);
  justify-content: flex-start;
  border-radius: 100px;
  align-items: center;
  position: relative;
  padding: 0px 0px;
  display: flex;
  height: 2px;
  width: 100%;
}

.timer-value {
  animation: load 3s linear forwards;
  border-radius: 100px;
  background: #198754;
  height: 20px;
  width: 0;
}

@keyframes load {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
